<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>

        <nav>
            <a href="/events/new">Create a New Event</a>
        </nav>

        
        <h1>Events index page</h1>

        <% if (events.length) { %>
          <% for (let i = 0; i < events.length; i++) { %>

            <a href="/events/<%= events[i]._id %>">
              <h4><%= events[i].title %></h4>

        
        
                
			        <% if(events[i].attending === true){ %>
				        You have an event
			       
			        <% } %>
			    <!--  ADD DELETE FORM HERE-->
          <form action="/events/<%=i; %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
          </form>
                <!-- Add edit link here  -->
			        <a href="/events/<%= i; %>/edit">Edit</a>
                
        <% } %>
        
            <% } else { %>
      <h4>No events coming up</h4>
    <% } %>
    </body>
</html>